* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #82fee8;
    scroll-behavior: smooth;
}

body {
    background: rgb(77,36,142);
    background: linear-gradient(125deg, rgba(77,36,142,1) 0%, rgba(35,16,65,1) 100%);
}

nav {
    display: flex;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: rgb(35,16,65);
    background: linear-gradient(125deg, rgba(35,16,65,1) 0%, rgba(77,36,142,1) 100%);
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav a{
    color : #eca4fe;
    text-decoration: none;
    width: -webkit-fill-available;
}

ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

ul li{
    padding: 0 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    border-radius: 0px ;
    -webkit-border-radius: 0px ;
    -moz-border-radius: 0px ;
    -ms-border-radius: 0px ;
    -o-border-radius: 0px ;
    padding: 26px;
    margin: 0;
}

.dropbtn {
    display: none;
}

@media screen and (min-width: 461px) {
    .dropdown-content {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    /* Style The Dropdown Button */
    .dropbtn {
        display: inline-block;
        color: #eca4fe;
        background-color: transparent;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border: 2px solid #eca4fe;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
}

    ul{
        display: none;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    text-align-last: center;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .dropdown-content a {
        color: #eca4fe;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}


#home{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    height: 80vh;
}

#home aside{
    width: 140%;
    text-align-last: right;
}

@media screen and (max-width: 768px) {
    aside {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    footer div{
        width: 80%;
        align-self: center;
    }
}

img{
    width: 60%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

article{
    padding: 10px 0;
}

article h1{
    font-weight: bold;
    font-size: 36px;
}

article h1 span{
    color: #eca4fe;
}

#about{
    background-color: #231041;
    height: 60vh;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title, 
.keterangan {
    width: 80%;
}

.title h1,
.keterangan h3,
div h3{
    color: #eca4fe;
}

.title h1, 
.title h2{
    text-align: center;
}

.title h1, 
.title h2, 
.keterangan h3, 
.keterangan p,
div h3 {
    padding: 10px 0 ;
}

footer{
    background-color: #231041;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
